<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Estudos | Vitor Zavan</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
  </head>

  <body>
    <div class="background-grid"></div>

    <main class="container">
      <a href="/" class="back-button">← Voltar</a>
      <!-- HERO -->
      <section class="hero">
        <p class="tag">Python • RPA • Automação • Desenvolvimento</p>

        <h1>Meus <span>Estudos</span></h1>

        <p class="description">
          Compartilho minha trajetória de aprendizado em tecnologia, automação
          de processos, desenvolvimento backend e evolução contínua na área de
          programação.
        </p>
      </section>

      <!-- VISÃO GERAL -->
      <section class="section-block">
        <div class="section-title">
          <span></span>

          <h2>Visão Geral</h2>
        </div>

        <div class="content-card">
          <p class="about-description">
            Acredito que tecnologia é uma área construída através de prática,
            consistência e aprendizado contínuo. Grande parte da minha evolução
            profissional aconteceu estudando diariamente, desenvolvendo projetos
            reais e aplicando conhecimento diretamente em automações e soluções
            operacionais.
            <br />
            <br />
            Atualmente concentro meus estudos principalmente em Python, RPA,
            automações web, integração de sistemas, banco de dados e
            desenvolvimento backend, sempre buscando criar soluções práticas,
            escaláveis e voltadas à eficiência operacional.
            <br />
            <br />
            Criei esta página especialmente para quem deseja entrar na área de
            tecnologia, mas ainda não sabe exatamente por onde começar. Aqui
            compartilho parte da minha trajetória, conteúdos que utilizei,
            ferramentas que considero importantes e materiais que contribuíram
            diretamente para minha evolução técnica.
            <br />
            <br />
            Meu objetivo é mostrar que é possível evoluir utilizando muitos
            recursos gratuitos, projetos práticos e estudo aplicado ao dia a
            dia, focando mais em construção de conhecimento real do que apenas
            teoria.
          </p>
        </div>
      </section>

      <!-- FACULDADE -->
      <section class="section-block">
        <div class="section-title">
          <span></span>

          <h2>Faculdade</h2>
        </div>

        <div class="content-card">
          <p class="about-description">
            Atualmente curso Análise e Desenvolvimento de Sistemas pela
            Universidade Anhembi Morumbi, formação iniciada em 2024.
            <br />
            <br />
            A graduação vem fortalecendo conhecimentos importantes da área de
            tecnologia, como lógica de programação, estrutura de sistemas, banco
            de dados, desenvolvimento de software e arquitetura de aplicações.
            <br />
            <br />
            Paralelamente à faculdade, mantenho uma rotina constante de estudos
            práticos, criação de projetos e aprofundamento em automação de
            processos, área na qual concentro meu principal foco profissional.
          </p>
        </div>
      </section>

      <!-- CURSOS E CONTEÚDOS -->
      <section class="section-block">
        <div class="section-title">
          <span></span>

          <h2>Cursos e Conteúdos</h2>
        </div>

        <div class="menu-section">
          <!-- PYTHON -->
          <div class="card study-card">
            <div>
              <h2>Python</h2>

              <p>
                Conteúdos voltados ao aprendizado da linguagem Python, lógica de
                programação, padrões de projetos automações, manipulação de
                dados e desenvolvimento backend.
              </p>

              <div class="study-links">
                <a
                  href="https://www.python.org/"
                  target="_blank"
                  class="study-link"
                >
                  Documentação Oficial Python
                </a>

                <a
                  href="https://www.udemy.com/course/python-3-do-zero-ao-avancado/"
                  target="_blank"
                  class="study-link"
                >
                  Curso de Python 3 do básico ao avançado
                </a>

                <a
                  href="https://www.youtube.com/@Dunossauro"
                  target="_blank"
                  class="study-link"
                >
                  Eduardo Mendes - YouTube
                </a>
              </div>
            </div>
          </div>

          <!-- RPA -->
          <div class="card study-card">
            <div>
              <h2>RPA e Automação</h2>

              <p>
                Estudos voltados à automação de processos, navegação web,
                integração de sistemas e desenvolvimento de bots.
              </p>

              <div class="study-links">
                <a
                  href="https://playwright.dev/python/"
                  target="_blank"
                  class="study-link"
                >
                  Documentação Playwright
                </a>

                <a
                  href="https://selenium-python.readthedocs.io/"
                  target="_blank"
                  class="study-link"
                >
                  Selenium Python Docs
                </a>

                <a
                  href="https://www.youtube.com/watch?v=Br0cJo2YeNg&t=1506s"
                  target="_blank"
                  class="study-link"
                >
                  Eduardo Mendes - Live de Playwright
                </a>
              </div>
            </div>
          </div>

          <!-- DJANGO -->
          <div class="card study-card">
            <div>
              <h2>Django</h2>

              <p>
                Desenvolvimento backend com Python utilizando Django para
                criação de aplicações web e integração de sistemas.
              </p>

              <div class="study-links">
                <a
                  href="https://docs.djangoproject.com/"
                  target="_blank"
                  class="study-link"
                >
                  Documentação Django
                </a>

                <a
                  href="https://www.udemy.com/course/curso-de-django-web-framework-com-python-html-e-css/?couponCode=CP260518ALMXLD"
                  target="_blank"
                  class="study-link"
                >
                  Curso de Django Web Framework e Django Rest Framework (DRF)
                </a>

                <a
                  href="https://www.youtube.com/watch?v=UNiRHn2iusg&t=235s"
                  target="_blank"
                  class="study-link"
                >
                  Otávio Miranda - YouTube
                </a>
              </div>
            </div>
          </div>

          <!-- JavaScript -->
          <div class="card study-card">
            <div>
              <h2>JavaScript</h2>

              <p>
                Conteúdos voltados ao desenvolvimento com JavaScript,
                manipulação do DOM, interatividade web, integração com APIs e
                construção de aplicações modernas.
              </p>

              <div class="study-links">
                <a
                  href="https://nodejs.org/docs/latest/api/"
                  target="_blank"
                  class="study-link"
                >
                  Documentação NodeJS
                </a>

                <a
                  href="https://www.udemy.com/course/curso-de-javascript-moderno-do-basico-ao-avancado/?couponCode=CP260518ALMXLD"
                  target="_blank"
                  class="study-link"
                >
                  JavaScript e TypeScript do básico ao avançado
                </a>

                <a
                  href="https://www.youtube.com/watch?v=AuHCcVcmSSM&list=PLbIBj8vQhvm0pgOkQu3YzOfpQLvWRKdAG"
                  target="_blank"
                  class="study-link"
                >
                  Otávio Miranda - YouTube
                </a>
              </div>
            </div>
          </div>

          <!-- LINUX -->
          <div class="card study-card">
            <div>
              <h2>Linux</h2>

              <p>
                Estudos voltados ao sistema Linux, terminal, automação de
                tarefas, gerenciamento de servidores, ambiente de
                desenvolvimento e comandos essenciais para operações e
                programação.
              </p>

              <div class="study-links">
                <a
                  href="https://www.udemy.com/course/curso-completo-linux/?couponCode=CP260518ALMXLD"
                  target="_blank"
                  class="study-link"
                >
                  Aprenda tudo sobre o Linux!
                </a>

                <a
                  href="https://help.ubuntu.com/lts/ubuntu-help/index.html"
                  target="_blank"
                  class="study-link"
                >
                  Documentação do Ubuntu
                </a>

                <a
                  href="https://www.youtube.com/watch?v=6nN2EglOqCM&list=PLHz_AreHm4dlIXleu20uwPWFOSswqLYbV"
                  target="_blank"
                  class="study-link"
                >
                  Curso em Video - YouTube
                </a>
              </div>
            </div>
          </div>

          <!-- DOCUMENTAÇÕES -->
          <div class="card study-card">
            <div>
              <h2>Documentações Oficiais</h2>

              <p>
                Uma das principais formas de aprendizado utilizadas na minha
                evolução técnica e desenvolvimento prático.
              </p>

              <div class="study-links">
                <a
                  href="https://developer.mozilla.org/pt-BR/"
                  target="_blank"
                  class="study-link"
                >
                  MDN Web Docs
                </a>

                <a
                  href="https://devdocs.io/"
                  target="_blank"
                  class="study-link"
                >
                  DevDocs
                </a>

                <a
                  href="https://www.freecodecamp.org/"
                  target="_blank"
                  class="study-link"
                >
                  FreeCodeCamp
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- METODOLOGIA -->
      <section class="section-block">
        <div class="section-title">
          <span></span>

          <h2>Minha Forma de Estudar</h2>
        </div>

        <div class="content-card">
          <p class="about-description">
            A melhor forma de aprendizado que encontrei foi unir teoria e
            prática ao mesmo tempo.
            <br />
            <br />
            Procuro transformar praticamente todo conteúdo estudado em projetos
            reais, automações ou soluções aplicadas ao dia a dia operacional.
            Isso acelera o aprendizado, melhora a retenção do conhecimento e
            permite desenvolver experiência prática enquanto estudo.
            <br />
            <br />
            Meu foco é estudar de maneira aplicada, sempre buscando entender não
            apenas como a tecnologia funciona, mas também como ela pode gerar
            impacto real, otimizar processos e resolver problemas.
          </p>
        </div>
      </section>

      <!-- STACK -->
      <section class="stack-section">
        <div class="section-title">
          <span></span>

          <h2>Tecnologias em Estudo</h2>
        </div>

        <div class="stack-grid">
          <div class="stack-card">Python</div>

          <div class="stack-card">RPA</div>

          <div class="stack-card">Playwright</div>

          <div class="stack-card">Selenium</div>

          <div class="stack-card">Django</div>

          <div class="stack-card">SQL</div>

          <div class="stack-card">Git</div>

          <div class="stack-card">APIs</div>

          <div class="stack-card">JavaScript</div>
        </div>
      </section>

      <!-- FOOTER -->
      <footer class="footer">
        <div class="footer-content">
          <h3>Vitor Zavan</h3>

          <p>
            Evolução contínua através de prática, tecnologia e aprendizado
            aplicado.
          </p>

          <div class="footer-links">
            <a href="/">Início</a>

            <a href="/sobre/">Sobre Mim</a>

            <a href="/contato/">Contato</a>
          </div>

          <span class="footer-copy">
            © 2026 Vitor Zavan • Todos os direitos reservados
          </span>
        </div>
      </footer>
    </main>
  </body>
</html>
