<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sobre Mim | Vitor Zavan</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
  </head>
  <body>
    <div class="background-grid"></div>

    <main class="about-container">
      <a href="/" class="back-button"> ← Voltar </a>

      <section class="about-header">
        <p class="tag">Sobre Mim</p>

        <h1>Vitor <span>Zavan</span></h1>

        <p class="about-description">
          Meu nome é Vitor Zavan, tenho 29 anos e atuo como Assistente de
          Control Desk na HCosta desde junho de 2025. Trabalho diretamente no
          desenvolvimento de automações e soluções voltadas à eficiência
          operacional, utilizando Python e Playwright para otimizar processos,
          reduzir falhas operacionais e aumentar a produtividade das operações.
          <br />
          <br />
          Tenho mais de uma década de experiência em call center e atuação na
          área de recuperação de crédito, trajetória que me proporcionou uma
          visão analítica, estratégica e orientada a resultados. <br />
          <br />
          Ao longo desse período, desenvolvi habilidades voltadas à melhoria
          contínua de processos, identificação de gargalos operacionais e
          criação de soluções práticas para o dia a dia da operação. Atualmente,
          meu principal foco está em automação de processos (RPA),
          desenvolvimento com Python e criação de soluções escaláveis que gerem
          impacto real no negócio. Busco constantemente evoluir tecnicamente,
          aplicando tecnologia para simplificar rotinas, aumentar eficiência e
          transformar processos operacionais em estruturas mais inteligentes e
          sustentáveis.
        </p>
      </section>

      <section class="about-content">
        <div class="info-card">
          <h2>Stack Principal</h2>

          <ul>
            <li>Python</li>
            <li>Django</li>
            <li>Playwright</li>
            <li>SQL e NoSQL</li>
            <li>Django</li>
            <li>Automação RPA</li>
          </ul>
        </div>

        <div class="info-card">
          <h2>Especialidades</h2>

          <ul>
            <li>Automação de Processos</li>
            <li>Web Scraping</li>
            <li>Bots</li>
            <li>Integração de Sistemas</li>
            <li>Dashboards</li>
            <li>Backend Python</li>
          </ul>
        </div>

        <div class="info-card">
          <h2>Objetivo</h2>

          <p>
            Construir soluções robustas para reduzir trabalho manual, aumentar
            produtividade e automatizar operações.
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
